#!/usr/bin/env python
PACKAGE = "moving_object_detector"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("matching_tolerance", double_t, 0, "Error tolerance[pixel] used in matching points between left, right, current, previous frames. Disabled when minus", -1.0, -1.0, 30.0)
gen.add("downsample_scale", int_t, 0, "Downsample scale of calculate move points in 3D", 15, 1, 100)

exit(gen.generate(PACKAGE, "moving_object_detector", "VelocityEstimator"))
