<?xml version="1.0"?>

<!-- 
     pioneer を操作して，データを記録するためのlaunchファイル 
     zedのすべてのノードをbagで記録するにはデータ転送が追いつかないため，zedのデータはZED ExplorerによってSVOファイルとして保存する
-->

<launch>
  <node name="rosbag_record" pkg="rosbag" type="record" args="/ros_aria/pose /tf /tf_static"/>
  
  <node name="ros_aria" pkg="rosaria" type="RosAria"/>
  
  <node name="joy" pkg="joy" type="joy_node">
    <param name="autorepeat_rate" value="10"/>
  </node>
  
  <node name="teleop_twist_joy" pkg="teleop_twist_joy" type="teleop_node">
    <remap from="cmd_vel" to="/ros_aria/cmd_vel"/>
    <param name="scale_linear" value="0.3"/>
  </node>
</launch>
