<?xml version="1.0"?>

<launch>
  <include file="$(find moving_object_detector_launch)/launch/detect_moving_object.launch">
    <arg name="image_transport" value="raw"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="left_image_topic" value="/stereo_robot/mobile_base/camera/left/image_raw"/>
    <arg name="right_image_topic" value="/stereo_robot/mobile_base/camera/right/image_raw"/>
    <arg name="image_width" value="1248"/>
    <arg name="image_height" value="376"/>
  </include>
</launch>
