<?xml version="1.0"?>

<launch>
  <!-- Image topics are should be set -->
  <arg name="left_image_topic" default="/stereo_camera/left/image_rect_color"/>
  <arg name="right_image_topic" default="/stereo_camera/right/image_rect_color"/>
  <arg name="base_link_frame_id" default="stereo_robot/base_link"/>

  <!-- Set true if you use simulator -->
  <arg name="use_sim_time" default="false"/>
  <!-- Set it if you use other transport for image -->
  <arg name="image_transport" default="raw"/>

  <param name="use_sim_time" type="bool" value="$(arg use_sim_time)"/>

  <arg name="nodelet_manager_name" value="nodelet_manager"/>
  <node name="$(arg nodelet_manager_name)" pkg="nodelet" type="nodelet" args="manager"/>

  <node name="scene_flow_constructor" pkg="scene_flow_constructor" type="scene_flow_constructor_node">
    <remap from="left_image" to="$(arg left_image_topic)"/>
    <remap from="right_image" to="$(arg right_image_topic)"/>

    <remap from="calculate_dense_optical_flow" to="pwc_net/calculate_dense_optical_flow"/>
    <remap from="estimate_motion_from_stereo" to="viso2_stereo_server/estimate_motion_from_stereo"/>
    <remap from="estimate_disparity" to="sgm/estimate_disparity"/>

    <param name="image_transport" value="$(arg image_transport)"/>

    <param name="visual_odometry/base_link_frame_id" value="$(arg base_link_frame_id)"/>
  </node>

  <node name="pwc_net" pkg="pwc_net" type="pwc_net_node"/>
  <node name="sgm" pkg="sgm_gpu" type="sgm_gpu_server">
    <param name="check_consistency" value="true"/>
  </node>

  <!--
  <node name="clusterer" pkg="nodelet" type="nodelet" args="load scene_flow_clusterer/scene_flow_clusterer $(arg nodelet_manager_name)">
  -->
  <node name="clusterer" pkg="nodelet" type="nodelet" args="standalone scene_flow_clusterer/scene_flow_clusterer">
    <remap from="scene_flow" to="/scene_flow_constructor/scene_flow"/>
  </node>

  <node name="moving_object_tracker" pkg="moving_object_tracker" type="moving_objects_tracker_node">
    <remap from="moving_objects" to="/clusterer/moving_objects"/>
  </node>
  
  <!-- Nodes for visualization -->
  <node name="optical_flow_view" pkg="nodelet" type="nodelet" args="load dense_flow_view/dense_flow_view $(arg nodelet_manager_name)">
    <remap from="flow" to="/scene_flow_constructor/optical_flow"/>
  </node>
  <node name="synthetic_optical_flow_view" pkg="nodelet" type="nodelet" args="load dense_flow_view/dense_flow_view $(arg nodelet_manager_name)">
    <remap from="flow" to="/scene_flow_constructor/synthetic_optical_flow"/>
  </node>
  <node name="disparity_view" pkg="nodelet" type="nodelet" args="load disparity_visualize/disparity_visualize $(arg nodelet_manager_name)">
    <remap from="disparity" to="/scene_flow_constructor/disparity"/>
  </node>
  <node name="objects_to_marker" pkg="moving_object_to_marker" type="moving_object_to_marker">
    <remap from="moving_object_array" to="/clusterer/moving_objects"/>
  </node>
  <node name="tracked_objects_to_marker" pkg="moving_object_to_marker" type="moving_object_to_marker">
    <remap from="moving_object_array" to="/moving_object_tracker/tracked_moving_objects"/>
    <param name="red" value="0.0"/>
    <param name="green" value="1.0"/>
  </node>
</launch>
