<?xml version="1.0"?>

<launch>
  <arg name="cropped_width" value="1242"/>
  <arg name="cropped_height" value="376"/>
  <arg name="image_transport" value="raw"/>

  <include file="$(find zed_wrapper)/launch/zed.launch"/>

  <!-- Image cropping to reduce GPU memory consumption and run fast --> 
  <!-- It isn't necessary if you have enough machine power --> 
  <node name="left_crop" pkg="image_crop" type="image_crop">
    <param name="target_width" value="$(arg cropped_width)"/>
    <param name="target_height" value="$(arg cropped_height)"/>
    <param name="image_transport" value="$(arg image_transport)"/>

    <remap from="image" to="/zed/zed_node/left/image_rect_color"/>
  </node>
  <node name="right_crop" pkg="image_crop" type="image_crop">
    <param name="target_width" value="$(arg cropped_width)"/>
    <param name="target_height" value="$(arg cropped_height)"/>
    <param name="image_transport" value="$(arg image_transport)"/>

    <remap from="image" to="/zed/zed_node/right/image_rect_color"/>
  </node>

  <include file="$(find moving_object_detector_launch)/launch/detect_moving_object.launch">
    <arg name="use_sim_time" value="false"/>
    <arg name="image_transport" value="raw"/>
    <arg name="left_image_topic" value="/left_crop/cropped_image"/>
    <arg name="right_image_topic" value="/right_crop/cropped_image"/>
    <arg name="base_link_frame_id" value="base_link"/>
    <arg name="bag_auto_pause" value="false"/>
  </include>

  <node name="zed_node" pkg="zed_wrapper" type="zed_wrapper_node" output="screen" required="true"><!-- launch-prefix="valgrind" -->
    <rosparam file="$(find moving_object_detector_launch)/params/zed_common.yaml" command="load" />
    <rosparam file="$(find zed_wrapper)/params/zed.yaml" command="load" />
  </node>

  <param name="zed_description"
    command="$(find xacro)/xacro '$(find zed_wrapper)/urdf/zed_descr.urdf.xacro'
    camera_name:=zed
    camera_model:=zed
    cam_pos_x:=0.0
    cam_pos_y:=0.0
    cam_pos_z:=0.0
    cam_roll:=0.0
    cam_pitch:=0.0
    cam_yaw:=0.0"
  />
  <node name="zed_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" required="true">
    <remap from="robot_description" to="zed_description" />
  </node>
</launch>
