<?xml version="1.0"?>

<launch>
  <param name="use_sim_time" type="bool" value="true"/>

  <arg name="nodelet_manager_name" value="nodelet_manager"/>
  <node name="$(arg nodelet_manager_name)" pkg="nodelet" type="nodelet" args="manager"/>

  <node name="viso2" pkg="viso2_ros" type="stereo_odometer" respawn="true">
    <remap from="stereo" to="synchronized"/>
    <remap from="image" to="image_rect_color"/>
    
    <param name="base_link_frame_id" value="stereo_robot/camera_link"/>
    <param name="publish_tf" value="false"/>
  </node>

  <node name="optical_flow_left" pkg="nodelet" type="nodelet" args="load dis_flow/dis_flow $(arg nodelet_manager_name)">
    <remap from="image" to="/synchronized/left/image_rect_color"/>
  </node>

  <node name="optical_flow_right" pkg="nodelet" type="nodelet" args="load dis_flow/dis_flow $(arg nodelet_manager_name)">
    <remap from="image" to="/synchronized/right/image_rect_color"/>
  </node>

  <node name="input_synchronizer" pkg="nodelet" type="nodelet" args="load velocity_estimator/input_synchronizer $(arg nodelet_manager_name)">
    <remap from="synchronizer_input_left_rect_image" to="/stereo_robot/mobile_base/camera/left/image_raw"/>
    <remap from="synchronizer_input_right_rect_image" to="/stereo_robot/mobile_base/camera/right/image_raw"/>

    <remap from="synchronizer_output_left_rect_image" to="/synchronized/left/image_rect_color"/>
    <remap from="synchronizer_output_right_rect_image" to="/synchronized/right/image_rect_color"/>

    <remap from="viso2_info" to="/viso2/info"/>
    <remap from="optical_flow_left" to="/optical_flow_left/flow"/>
    <remap from="optical_flow_right" to="/optical_flow_right/flow"/>
    <remap from="disparity_image" to="/elas/disparity"/>

    <param name="image_transport" value="compressed"/>
  </node>

  <node name="velocity_estimator" pkg="nodelet" type="nodelet" args="load velocity_estimator/velocity_estimator $(arg nodelet_manager_name)">
    <remap from="camera_transform" to="/viso2/camera_frame_transform"/>
    <remap from="optical_flow_left" to="/optical_flow_left/flow"/>
    <remap from="optical_flow_right" to="/optical_flow_right/flow"/>
    <remap from="disparity_image" to="/elas/disparity"/>
    <remap from="left_camera_info" to="/synchronized/left/camera_info"/>
  </node>
  
  <node name="elas" pkg="elas_ros" type="elas_ros">
    <remap from="stereo" to="synchronized"/>
    <remap from="image" to="/image_rect_color"/>
  </node>

  <node name="clusterer" pkg="nodelet" type="nodelet" args="load velocity_pc_clusterer/velocity_pc_clusterer $(arg nodelet_manager_name)">
    <remap from="velocity_pc" to="/velocity_estimator/velocity_pc"/>
  </node>

  <node name="moving_object_tracker" pkg="moving_object_tracker" type="moving_objects_tracker_node"/>
  
  <!-- Nodes for visualization -->
  <node name="left_flow_view" pkg="nodelet" type="nodelet" args="load dense_flow_view/dense_flow_view $(arg nodelet_manager_name)">
    <remap from="flow" to="optical_flow_left/flow"/>
    <remap from="flow_image" to="left_flow_image"/>
  </node>
  <node name="static_flow_view" pkg="nodelet" type="nodelet" args="load dense_flow_view/dense_flow_view $(arg nodelet_manager_name)">
    <remap from="flow" to="/velocity_estimator/static_flow"/>
    <remap from="flow_image" to="static_flow_image"/>
  </node>
  <node name="moving_object_to_marker" pkg="moving_object_to_marker" type="moving_object_to_marker">
    <remap from="moving_object_array" to="moving_objects"/>
  </node>
  <node name="project_moving_object_on_image" pkg="project_moving_objects_on_image" type="project_moving_objects_on_image">
    <remap from="input_image" to="/synchronized/left/image_rect_color"/>
  </node>
  <node name="project_tracked_object_on_image" pkg="project_moving_objects_on_image" type="project_moving_objects_on_image">
    <remap from="input_image" to="/synchronized/left/image_rect_color"/>
    <remap from="moving_objects" to="tracked_moving_objects"/>
    <remap from="moving_objects_image" to="tracked_objects_image"/>

    <param name="red" value="0"/>
    <param name="green" value="255"/>
  </node>
  <node name="odometry_to_marker" pkg="odometry_to_marker" type="odometry_to_marker">
    <remap from="odometry" to="moving_object/odom"/>
    <remap from="marker" to="moving_object/velocity_marker"/>
  </node>
</launch>
