<?xml version="1.0"?>

<launch>
  <!-- Image topics are should be set -->
  <arg name="left_image_topic" default="/stereo_camera/left/image_rect_color"/>
  <arg name="right_image_topic" default="/stereo_camera/right/image_rect_color"/>
  <!-- Should be set if you use not default node -->
  <arg name="optical_flow_service" default="/pwc_net/calculate_dense_optical_flow"/>
  <arg name="disparity_service" default="/sgm_gpu_server/estimate_disparity"/>
  <!-- Set true if you use simulator -->
  <arg name="use_sim_time" default="false"/>
  <!-- Set it if you use other transport for image -->
  <arg name="image_transport" default="raw"/>

  <param name="use_sim_time" type="bool" value="$(arg use_sim_time)"/>

  <arg name="nodelet_manager_name" value="nodelet_manager"/>
  <node name="$(arg nodelet_manager_name)" pkg="nodelet" type="nodelet" args="manager"/>

  <node name="viso2_stereo_server" pkg="viso2_stereo_server" type="viso2_stereo_server"/>

  <node name="scene_flow_constructor" pkg="scene_flow_constructor" type="scene_flow_constructor_node">
    <remap from="left_image" to="$(arg left_image_topic)"/>
    <remap from="right_image" to="$(arg right_image_topic)"/>

    <remap from="calculate_dense_optical_flow" to="$(arg optical_flow_service)"/>
    <remap from="estimate_motion_from_stereo" to="viso2_stereo_server/estimate_motion_from_stereo"/>
    <remap from="estimate_disparity" to="$(arg disparity_service)"/>

    <param name="image_transport" value="$(arg image_transport)"/>
  </node>

  <node name="clusterer" pkg="nodelet" type="nodelet" args="load scene_flow_clusterer/scene_flow_clusterer $(arg nodelet_manager_name)">
    <remap from="scene_flow" to="/scene_flow_constructor/scene_flow"/>
  </node>

  <!--
  <node name="moving_object_tracker" pkg="moving_object_tracker" type="moving_objects_tracker_node"/>
  -->
  
  <!-- Nodes for visualization -->
  <node name="synthetic_optical_flow_view" pkg="nodelet" type="nodelet" args="load dense_flow_view/dense_flow_view $(arg nodelet_manager_name)">
    <remap from="flow" to="/scene_flow_constructor/synthetic_optical_flow"/>
  </node>
  <!--
  <node name="project_moving_object_on_image" pkg="project_moving_objects_on_image" type="project_moving_objects_on_image">
    <remap from="input_image" to="/synchronized/left/image_rect_color"/>
  </node>
  <node name="project_tracked_object_on_image" pkg="project_moving_objects_on_image" type="project_moving_objects_on_image">
    <remap from="input_image" to="/synchronized/left/image_rect_color"/>
    <remap from="moving_objects" to="tracked_moving_objects"/>
    <remap from="moving_objects_image" to="tracked_objects_image"/>

    <param name="red" value="0"/>
    <param name="green" value="255"/>
  </node>
  -->
</launch>
