<?xml version="1.0"?>

<launch>
  <arg name="odometry_frame" default="map" />
  
  <group ns="zed">
    <include file="$(find zed_wrapper)/launch/zed_camera.launch" pass_all_args="true">
      <!-- compliant mode for rviz -->
      <arg name="odometry_frame"        value="$(arg odometry_frame)" />
    </include>
  </group>
  
  <node name="nodelet_manager" pkg="nodelet" type="nodelet" args="manager"/>
  
  <node name="left_camera_crop" pkg="nodelet" type="nodelet" args="load image_proc/crop_decimate nodelet_manager">
    <remap from="camera" to="synchronized/left"/>
    <remap from="synchronized/left/image_raw" to="synchronized/left/image_rect_color"/>
    <remap from="camera_out" to="viso2/input/left"/>
    
    <param name="width" value="1280"/>
    <param name="height" value="360"/>
    <param name="y_offset" value="180"/>
  </node>
  
  <node name="right_camera_crop" pkg="nodelet" type="nodelet" args="load image_proc/crop_decimate nodelet_manager">
    <remap from="camera" to="synchronized/right"/>
    <remap from="synchronized/right/image_raw" to="synchronized/right/image_rect_color"/>
    <remap from="camera_out" to="viso2/input/right"/>
    
    <param name="width" value="1280"/>
    <param name="height" value="360"/>
    <param name="y_offset" value="180"/>
  </node>
  
  <node name="viso2" pkg="viso2_ros" type="stereo_odometer" respawn="true">
    <remap from="stereo" to="/viso2/input"/>
    <remap from="image" to="image_raw"/>
  </node>
  
  <node name="optical_flow_left" pkg="nodelet" type="nodelet" args="standalone dis_flow/dis_flow">
    <remap from="image" to="/synchronized/left/image_rect_color"/>
    <param name="debug_view" value="false"/>
  </node>
  
  <node name="optical_flow_right" pkg="nodelet" type="nodelet" args="standalone dis_flow/dis_flow">
    <remap from="image" to="/synchronized/right/image_rect_color"/>
    <param name="debug_view" value="false"/>
  </node>

  <node name="input_synchronizer" pkg="velocity_estimator" type="input_synchronizer_node">
    <remap from="synchronizer_input_left_rect_image" to="/zed/left/image_rect_color"/>
    <remap from="synchronizer_input_right_rect_image" to="/zed/right/image_rect_color"/>

    <remap from="synchronizer_output_left_rect_image" to="/synchronized/left/image_rect_color"/>
    <remap from="synchronizer_output_right_rect_image" to="/synchronized/right/image_rect_color"/>

    <remap from="viso2_info" to="/viso2/info"/>
    <remap from="optical_flow_left" to="/optical_flow_left/flows"/>
    <remap from="optical_flow_right" to="/optical_flow_right/flows"/>
    <remap from="disparity_image" to="/zed/disparity/disparity_image"/>

    <param name="image_transport" value="compressed"/>
  </node>
  
  <node name="velocity_estimator" pkg="velocity_estimator" type="velocity_estimator_node">
    <remap from="camera_transform" to="/viso2/camera_frame_transform"/>
    <remap from="optical_flow_left" to="/optical_flow_left/flows"/>
    <remap from="optical_flow_right" to="/optical_flow_right/flows"/>
    <remap from="disparity_image" to="/zed/disparity/disparity_image"/>
    <remap from="left_camera_info" to="/synchronized/left/camera_info"/>
  </node>

  <node name="clusterer" pkg="velocity_pc_clusterer" type="clusterer_node"/>
  <node name="moving_object_to_marker" pkg="moving_object_to_marker" type="moving_object_to_marker"/>
  <node name="project_moving_objects_on_image" pkg="project_moving_objects_on_image" type="project_moving_objects_on_image">
    <remap from="input_image" to="/synchronized/left/image_rect_color"/>
  </node>
</launch>
