<launch>
  <arg name="stereo_robot"  default="stereo_robot"/>
  <arg name="moving_object" default="moving_object"/>

  <arg name="stereo_robot_x_pos" default="0.0"/>
  <arg name="stereo_robot_y_pos" default="-7.0"/>
  <arg name="stereo_robot_z_pos" default="0.0"/>
  <arg name="stereo_robot_yaw"   default="0.0"/>

  <arg name="moving_object_x_pos" default="5.0"/>
  <arg name="moving_object_y_pos" default="-7.0"/>
  <arg name="moving_object_z_pos" default="0.0"/>
  <arg name="moving_object_yaw"   default="0.0"/>
  
  <node name="xbox_con" pkg="joy" type="joy_node" />

  <group ns = "$(arg stereo_robot)">
    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_stereo_description)/urdf/turtlebot3_burger_stereo.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg stereo_robot)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg stereo_robot) -x $(arg stereo_robot_x_pos) -y $(arg stereo_robot_y_pos) -z $(arg stereo_robot_z_pos) -Y $(arg stereo_robot_yaw) -param robot_description" />
    
    <node name="teleop_twist_joy" pkg="teleop_twist_joy" type="teleop_node" >
      <remap from="joy" to="/joy"/>
      
      <!-- Use left stick in XBox wired controller -->
      <param name="axis_linear" value="1" />
      <param name="axis_angular" value="0" />
      
      <param name="scale_linear" value="1.0" />
      <param name="scale_angular" value="2.0" />
    </node>
  </group>

  <group ns = "$(arg moving_object)">
    <param name="robot_description" command="$(find xacro)/xacro $(find mars_rover_description)/urdf/mars_rover.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg moving_object)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg moving_object) -x $(arg moving_object_x_pos) -y $(arg moving_object_y_pos) -z $(arg moving_object_z_pos) -Y $(arg moving_object_yaw) -param robot_description" />

    <node name="teleop_twist_joy" pkg="teleop_twist_joy" type="teleop_node" >
      <remap from="joy" to="/joy"/>
      
      <!-- Use right stick in XBox wired controller -->
      <param name="axis_linear" value="4" />
      <param name="axis_angular" value="3" />
      
      <param name="scale_linear" value="1.0" />
      <param name="scale_angular" value="2.0" />
    </node>
  </group>

</launch>
