<?xml version="1.0"?>

<launch>
  <param name="use_sim_time" type="bool" value="true"/>

  <arg name="gazebo_bag" value="/home/aisl/Datasets/simulation_exp_static_camera/input_gazebo_2018-07-25-16-37-46.bag"/>
  <arg name="elas_bag" value="/home/aisl/Datasets/simulation_exp_static_camera/input_elas_2018-07-25-16-43-03.bag"/>

  <node name="bag_player" pkg="rosbag" type="play" args="--clock $(arg gazebo_bag) $(arg elas_bag)"/>
</launch>
