<?xml version="1.0"?>

<launch>
  <param name="use_sim_time" type="bool" value="true"/>

  <arg name="gazebo_bag" value="/home/aisl/Datasets/simulation_exp_static_camera2/2018-07-23-13-39-50_input.bag"/>
  <arg name="elas_bag" value="/home/aisl/Datasets/simulation_exp_static_camera2/2018-07-23-17-08-43_input_elas.bag"/>

  <node name="bag_player" pkg="rosbag" type="play" args="--clock $(arg gazebo_bag) $(arg elas_bag)"/>
</launch>
