<?xml version="1.0"?>

<launch>
  <include file="$(find zed_wrapper)/launch/zed.launch"/>
  
  <node name="viso2" pkg="viso2_ros" type="stereo_odometer">
    <remap from="stereo" to="/synchronized"/>
    <remap from="image" to="image_rect_color"/>
  </node>
  
  <node name="optical_flow" pkg="opencv_apps" type="simple_flow">
    <remap from="image" to="/synchronized/left/image_rect_color"/>
  </node>
  
  <!-- Kdevelopから実行するのでコメントアウト
  <node name="moving_object_detector" pkg="moving_object_detector" type="moving_object_detector_node">
    <remap from="synchronizer_input_depth_image" to="/zed/depth/depth_registered"/>
    <remap from="synchronizer_input_left_rect_image" to="/zed/left/image_rect_color"/>
    <remap from="synchronizer_input_right_rect_image" to="/zed/right/image_rect_color"/>
    
    <remap from="synchronizer_output_depth_image" to="/synchronized/depth/image_registered"/>
    <remap from="synchronizer_output_left_rect_image" to="/synchronized/left/image_rect_color"/>
    <remap from="synchronizer_output_right_rect_image" to="/synchronized/right/image_rect_color"/>
    
    <remap from="depth_image_rectified" to="/synchronized/depth/image_registered"/>
    <remap from="camera_transform" to="/viso2/camera_frame_transform"/>
    <remap from="optical_flow" to="/optical_flow/flows"/>
  </node>
  -->
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find moving_object_detector)/rviz/debug_view.rviz"/>
  <node name="rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find moving_object_detector)/rqt/debug_view.perspective"/>
</launch>
