<?xml version="1.0"?>

<launch>
  <include file="$(find zed_wrapper)/launch/zed.launch"/>
  
  <node name="nodelet_manager" pkg="nodelet" type="nodelet" args="manager"/>
  
  <node name="left_camera_crop" pkg="nodelet" type="nodelet" args="load image_proc/crop_decimate nodelet_manager">
    <remap from="camera" to="synchronized/left"/>
    <remap from="synchronized/left/image_raw" to="synchronized/left/image_rect_color"/>
    <remap from="camera_out" to="viso2/input/left"/>
    
    <param name="width" value="1280"/>
    <param name="height" value="360"/>
    <param name="y_offset" value="180"/>
  </node>
  
  <node name="right_camera_crop" pkg="nodelet" type="nodelet" args="load image_proc/crop_decimate nodelet_manager">
    <remap from="camera" to="synchronized/right"/>
    <remap from="synchronized/right/image_raw" to="synchronized/right/image_rect_color"/>
    <remap from="camera_out" to="viso2/input/right"/>
    
    <param name="width" value="1280"/>
    <param name="height" value="360"/>
    <param name="y_offset" value="180"/>
  </node>
  
  <node name="viso2" pkg="viso2_ros" type="stereo_odometer" respawn="true">
    <remap from="stereo" to="/viso2/input"/>
    <remap from="image" to="image_raw"/>
  </node>
  
  <node name="optical_flow_left" pkg="opencv_apps" type="dis_flow">
    <remap from="image" to="/synchronized/left/image_rect_color"/>
    <param name="debug_view" value="false"/>
    <param name="intensity_max" value="50"/>
    <param name="intensity_view" value="true"/>
  </node>
  
  <node name="optical_flow_right" pkg="opencv_apps" type="dis_flow">
    <remap from="image" to="/synchronized/right/image_rect_color"/>
    <param name="debug_view" value="false"/>
  </node>
  
  <node name="depth_image_diff_viewer" pkg="depth_image_diff_viewer" type="depth_image_diff_viewer_node">
    <remap from="depth_image" to="/synchronized/depth/image_registered"/>
  </node>
  
  <node name="disparity_image_diff_viewer" pkg="disparity_image_diff_viewer" type="disparity_image_diff_viewer_node">
    <remap from="disparity_image" to="/synchronized/disparity/disparity_image"/>
  </node>  
  
  <node name="moving_object_detector" pkg="moving_object_detector" type="moving_object_detector_node">
    <remap from="synchronizer_input_depth_image" to="/zed/depth/depth_registered"/>
    <remap from="synchronizer_input_confidence_map" to="/zed/confidence/confidence_map"/>
    <remap from="synchronizer_input_left_rect_image" to="/zed/left/image_rect_color"/>
    <remap from="synchronizer_input_right_rect_image" to="/zed/right/image_rect_color"/>
    <remap from="synchronizer_input_disparity_image" to="/zed/disparity/disparity_image"/>
    
    <remap from="synchronizer_output_left_rect_image" to="/synchronized/left/image_rect_color"/>
    <remap from="synchronizer_output_right_rect_image" to="/synchronized/right/image_rect_color"/>
    
    <remap from="depth_image_rectified" to="/synchronized/depth/image_registered"/>
    <remap from="confidence_map" to="/synchronized/confidence/confidence_map"/>
    <remap from="camera_transform" to="/viso2/camera_frame_transform"/>
    <remap from="optical_flow_left" to="/optical_flow_left/flows"/>
    <remap from="optical_flow_right" to="/optical_flow_right/flows"/>
    <remap from="disparity_image" to="/synchronized/disparity/disparity_image"/>
    
    <param name="downsample_scale" value="2"/>
    <param name="matching_tolerance" value="3.0"/>
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find moving_object_detector)/rviz/debug_view.rviz" required="true"/>
</launch>
